body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 10px 0 10px 0;
}

p {
  font-size: large;
  font-weight: bold;
  padding: 10px 0 10px 0;
  color: #1976d2;
  font-style: italic;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.container-wrapper{
  width: 50%;
}

.form-container {
  background: white;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field input {
  padding: 0.5rem;
  font-size: 1rem;
}

.mat-label {
  font-weight: bold;
}

.mat-icon {
  color: #1976d2;
  margin-right: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: end;
}

div button {
  width: 100%;
  border-radius: 0px;
}

@media (max-width: 600px) {
  .form-container {
    padding: 1.5rem;
  }
}
